/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'satoshi', sans-serif;
}

header {
    background-image: url(./images/stephan-rothe-VePgmkq3hHI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

a {
    color: white;
    text-decoration: none;
}
span {
    font-weight: 500;
    font-size: 2em; 
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-block: 3em;
    margin-inline: 3em;
    
}

.nav-link-title {
    font-weight: 500;
    font-size: 1.5em;
    margin-right: 2em;
}

.content {
    margin-top: 3em;
    color: white;
    text-align: center;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'satoshi', sans-serif;
    display: flex;
    font-size: 45px;
    /* font-weight: 100; */
    line-height: 1;
}
.content, h1 {
    font-weight: 400;
}

.hero1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    font-size: .5em;
    
}
.dot-block {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}


.btn1{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 80px;
    padding: 10px 4em;
    font-weight: 100;
    font-size: 30px;
    transition: border-color .3s, color .3s, background-color .3s;
    display: inline-block;
    margin-bottom: 2em;
}
.btn1:hover {
  background-color: black;
  border: 1px solid black;
  transition: border-color .3s, color .3s, background-color .3s;
}

/* section 2 */
#black-background {
    color: #fff;
    background-color: black;
    padding-block: 6em;
    padding-inline: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texts, h1 {
    padding-bottom: 40px;
    
    
}
#head {
    font-size: 20px;
    letter-spacing: 3px;
}
#text-content {
    padding-block: 40px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    
}
.texts {
    width: 35%;
    color: #818181;
}
.btn2{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 5px 2em;
    font-weight: 100;
    font-size: 20px;
    transition: border-color .3s, color .3s, background-color .3s;
    display: inline-block;

}
.btn2:hover {

  color:black;
  background-color: white;
  border: 1px solid white;
  transition: border-color .3s, color .3s, background-color .3s;
}
#stats {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.num{
    font-size: 9rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#sub-text {
    font-size: 15px;
    padding-bottom: 2.3em;
}

/* section 3 */
#white-background {
    color: black;
    padding-block: 6em;
    padding-inline: 3em;
    display: flex;
}
h2 {
    font-size: 38px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn3{
    color: black;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    border-radius: 40px;
    padding: 5px 2em;
    font-weight: 100;
    font-size: 20px;
    transition: border-color .3s, color .3s, background-color .3s;
    display: inline-block;

}
.btn3:hover {

  color:#fff;
  background-color: #000;
  border: 1px solid #000;
  transition: border-color .3s, color .3s, background-color .3s;
}
.video {
    height: 55vh;
    border-radius: 4px;
}

/* section 4 */
#black-background2 {
    color: #818181;
    background-color: #000;
    padding-inline: 5em;
    padding-block: 3em;
}
.white-texts {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    

}
#white {
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
}
.imges {
    height: 50vh;
    border-radius: 4px;
}
.image-text {
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

/* section 5 */

article {
    padding-inline: 3em;
    margin-top: 9em;
    margin-bottom: 4em;
}
h3 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 1.2em;
    text-align: center;
}
hr {
    border: 1.2px solid;
    margin-bottom: 1.5em;
}
#quotes {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
}


/* footer */
footer {
    background-color: #fefbf8;
    padding-inline: 3em;
}
.black-text {
    color: #000;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: .7em;
}


.footer-wrapper{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
    display: flex;
}
.card-footer{
    grid-template:         ". ."
        "Area Area" / 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        ". ."
        "Area Area";
}
.card-footer{
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-auto-columns: 1fr;
    display: grid;
}

.card-plan{
    grid-row-gap: 30px;
    border: 1px solid #000;
    flex-direction: column;
    padding: 10px;
    display: flex;
    border-radius: 3px;
}
.top-block-card{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: flex;
}
.price-card{
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.bottom-block-card{
    width: 100%;
    grid-row-gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    display: flex;
}
.white-text{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    line-height: 1em;
    color: #818181;
    position: relative;
}
.normal-text{
    font-weight: 500;
    font-size: 15px;
}
.price-text{
    font-size: 40px;
    font-weight: 500;
    line-height: 1em;
}

.contact {
    margin-top: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
}
#logo {
    font-weight: 300;
    font-size: 1.5em; 
    color: #000;
    letter-spacing: 3px;  
}
h4{
    font-size: 85px;
    margin-bottom: .3em;
}
.social-icon{
    color: #818181;
    font-size: 15px;
}
ul {
  width: 20%;  
  display: flex;
  justify-content: space-between; 
  margin-bottom: 3em; 
}
li {
    list-style: none;
}
.social {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.copyright {
    font-size: 15px;
    margin-block: 20px;
}



/* ABOUT US */
#about-us {
    background-image: url(./images/new\ shuttlecork.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    height: 100vh;
    opacity: 5;
}
#subtle-text {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: .8em;
}
#large-text {
    font-weight: 500;
    font-size: 100px;
    margin-bottom: 1.5em;
}

/* section 6 */
.block-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10rem 2rem 2rem 2rem;
    /* padding: 6em; */
    
}
#block-wrapper-image{
    width: 70vh;
    margin-left: 20rem;
    margin-right: 2rem;
}
.block-wrapper div span{
     color: #818181;
     font-size: 25px;
     font-weight: 400;

}
.block-wrapper div p {
    font-family:  'satoshi', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 5rem;
    line-height: 1.5em;
    

}
.block-wrapper2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
     margin: 10rem 0rem 2rem 0rem;;
     padding-inline: 3em;
}
#block-wrapper-image2{
    width: 70vh;
    /* margin-left: 2rem; */
    margin-right: 20rem;
}
.block-wrapper2 div p {
    font-family:  'satoshi', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1,5em;
}
.block-wrapper3{
    display: flex;
    justify-content: space-between;
     margin: 10rem 2rem 2rem 2rem;;
}
#block-wrapper-image3{
    width: 70vh;
    margin-left: 20rem;
    margin-right: 2rem;
}
.block-wrapper3 div p {
    font-family:  'satoshi', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
}



/* Membership */
#membership{
    background-image: url(images/grass-sport-tennis-ball-design-lawn-green-color-generative-ai.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    height: 100vh;
    opacity: 5;
    color: #fff;    
}
.membership-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'satoshi', sans-serif;
    
}
#get-in-touch {
    font-family: 'satoshi', sans-serif;
    font-size: 15px;
}
.contact-form-wrapper{
   background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #000;
   
    
}