@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap'); */

* {
  scroll-behavior: smooth;
}

/* Regular Font */
@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: normal;
  src: url(./assets/fonts/Satoshi-Variable.ttf);
}

/* Italic font */
@font-face {
  font-display: swap;
  font-family: "Satoshi";
  font-style: italic;
  src: url(./assets/fonts/Satoshi-VariableItalic.ttf);
}

#root {
  overflow-x: hidden;
}

header {
  @apply relative px-8 pt-28;
}

/* Membership */
#membership {
  background-image: url(./assets/images/saif71-com-DHj4B4d-Gaw-unsplash.jpg);
  background-size: cover;
  background-position: top;
  @apply px-0;
}

#team {
  background-image: url(./assets/images/wImage-03.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

/* rgb(220 38 38) */
.active,
.link.active:hover {
  border-color: rgb(220 38 38);
}

/* ABOUT US */
#about-us {
  background-image: url(./assets/images/newShuttlecork.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}
/* 
#main-page {
  background-image: url(./assets/images/stephan-rothe-VePgmkq3hHI-unsplash.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
} */

.dot-block {
  @apply h-1 w-1 rounded-full bg-white md:h-2 md:w-2;
}

@media screen and (max-width: 500px) {
  .max-width {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    row-gap: 2rem;
  }

  .max-width div {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #mainpageVideo {
    display: none;
  }
}

/* *****END****** */
