@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap'); */

* {
  scroll-behavior: smooth;
}


/* Membership */
#membership {
  background-image: url(./assets/images/saif71-com-DHj4B4d-Gaw-unsplash.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

#team {
  background-image: url(./assets/images/grass-sport-tennis-ball-design-lawn-green-color-generative-ai.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}


/* rgb(220 38 38) */
.active, .link.active:hover {
  border-color: rgb(220 38 38);
}

/* ABOUT US */
#about-us {
  background-image: url(./assets/images/newShuttlecork.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}


@layer utilities {
  .btn3 {
    @apply border capitalize rounded-[40px] py-[5px] px-12 text-xl inline-block transition font-medium
  }
}

#main-page {
  background-image: url(./assets/images/stephan-rothe-VePgmkq3hHI-unsplash.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}


/* *****END****** */
